# Python Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database (Each user builds their own index)
design_vault.db

# IDEs and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build and Distribution (for when you create the .exe)
dist/
build/
*.spec

vc_redist.x64.exe